* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  gap: 300px;
  padding: 200px;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #050505;
  flex-wrap: wrap;
}

.cube {
  position: relative;
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  transform: rotateX(-30deg);
  -webkit-animation: boxx 4s linear infinite;
          animation: boxx 4s linear infinite;
}
.cube div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}
.cube div span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#151515, blue);
  transform: rotateY(calc(90deg * var(--i))) translateZ(150px);
}
.cube .top {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  background-color: #222;
  transform: rotateX(90deg) translateZ(150px);
}
.cube .top::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  background: blue;
  transform: translateZ(-380px);
  filter: blur(20px);
}

@-webkit-keyframes boxx {
  0% {
    transform: rotateX(-30deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(-30deg) rotateY(360deg);
  }
}

@keyframes boxx {
  0% {
    transform: rotateX(-30deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(-30deg) rotateY(360deg);
  }
}
.cube2 {
  position: relative;
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  transform: rotateX(-30deg);
  -webkit-animation: boxx2 4s linear infinite;
          animation: boxx2 4s linear infinite;
}
.cube2 div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}
.cube2 div span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#151515, red);
  transform: rotateY(calc(90deg * var(--i))) translateZ(150px);
}
.cube2 .top {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  background-color: #222;
  transform: rotateX(90deg) translateZ(150px);
}
.cube2 .top::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  background: red;
  transform: translateZ(-380px);
  filter: blur(20px);
}

@-webkit-keyframes boxx2 {
  0% {
    transform: rotateX(-30deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(-30deg) rotateY(360deg);
  }
}

@keyframes boxx2 {
  0% {
    transform: rotateX(-30deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(-30deg) rotateY(360deg);
  }
}
.cube3 {
  position: relative;
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  transform: rotateX(-30deg);
  -webkit-animation: boxx 4s linear infinite;
          animation: boxx 4s linear infinite;
}
.cube3 div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}
.cube3 div span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#151515, yellow);
  transform: rotateY(calc(90deg * var(--i))) translateZ(150px);
}
.cube3 .top {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  background-color: #222;
  transform: rotateX(90deg) translateZ(150px);
}
.cube3 .top::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  background: yellow;
  transform: translateZ(-380px);
  filter: blur(20px);
}

@keyframes boxx {
  0% {
    transform: rotateX(-30deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(-30deg) rotateY(360deg);
  }
}
.cube4 {
  position: relative;
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  transform: rotateX(-30deg);
  -webkit-animation: boxx 4s linear infinite;
          animation: boxx 4s linear infinite;
}
.cube4 div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}
.cube4 div span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#151515, rgb(51, 255, 0));
  transform: rotateY(calc(90deg * var(--i))) translateZ(150px);
}
.cube4 .top {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  background-color: #222;
  transform: rotateX(90deg) translateZ(150px);
}
.cube4 .top::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  background: rgb(51, 255, 0);
  transform: translateZ(-380px);
  filter: blur(20px);
}

@keyframes boxx {
  0% {
    transform: rotateX(-30deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(-30deg) rotateY(360deg);
  }
}/*# sourceMappingURL=stayl.css.map */